.Footer {
  @include flex_setting(column, center, center, 20px);
  height: 120px;
  background-color: $mainBGcolor;
  color: $textColor;

  .iconsWrapper {
    @include flex_setting(row, center, center, 30px);
    .icons {
      font-size: 2rem;
      cursor: pointer;
      transition: transform $timeFast;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  .link {
    color: $textColor;
    text-decoration: none;

    &:visited,
    &:active {
      color: $textColor;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
