@import "./../../styles/variables";
@import "./../../styles/mixins";
.DrinkCard {
  cursor: pointer;
  position: relative;
  border: 4px solid $borderCardColor;
  .card {
    height: 285px;
    background-color: $textColor;
    img {
      width: 250px;
    }
    .drinkName {
      color: $mainBGcolor;
      text-align: center;
    }
  }
  .infoBox {
    @include flex_setting(column, flex-start, space-between, 10px);
    padding: 30px;
    opacity: 0;
    position: absolute;
    color: #053853;
    font-weight: $boldText;
    background-color: $heroBGColor;
    width: 250px;
    height: 275px;
    top: 100px;
    left: 20px;
    transition: opacity 0.55s ease-out;
    &:hover {
      opacity: 1;
      top: 100px;
      border-radius: 6px;
      box-shadow: 0px 0px 4px $shadowBlackAlpha;
      left: 20px;
      overflow-y: auto;
    }
    .firstRow {
      @include flex_setting(row, space-between, center);
    }
    .description {
      color: $heroTextColor;
    }
  }
}
