.ModalCart {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgba(122, 115, 115, 0.255);
  /* justify-content: space-between; */
  align-items: center;
}

.productCartImg img {
  width: 60px;
  height: 40px;
}

.productCartInfo h4,
.productCartInfo p,
.qtySection p {
  margin: 0;
}
