@import "../../styles/variables";

.Navbar {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mainBGcolor;
  color: $textColor;
  box-shadow: 3px 3px 3px solid $shadowBlackAlpha;
  .name_logoContainer {
    display: flex;
    align-items: center;
    // gap: 5px;
    .logo_img {
      width: 70px;
      filter: drop-shadow(3px 3px 1px $mainBGcolor);
    }
    h4 {
      font-size: 1.6rem;
      filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
    }
  }

  input {
    width: 80px;
    border: none;
    outline: none;
    padding: 5px 0 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
  }

  .hamburgerIcon {
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
  }
}

@media screen and (min-width: 768px) {
  .Navbar {
    .name_logoContainer {
      .logo_img {
        width: 80px;
      }
      h4,
      .hamburgerIcon {
        font-size: 3.6rem;
      }
    }
  }
}
