.Navbar {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #031d2be6;
  color: white;
  box-shadow: 3px 3px 3px solid rgba(0, 0, 0, 0.464);
  .name-logo_container {
    display: flex;
    align-items: center;
    // gap: 5px;
    .logo_img {
      width: 70px;
      filter: drop-shadow(3px 3px 1px #01334ee6);
    }
    h4 {
      font-size: 1.6rem;
    }
  }

  ul {
    font-size: 0.9rem;
    list-style: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
    li:hover {
      text-decoration: underline;
    }
  }

  input {
    width: 80px;
    border: none;
    outline: none;
    padding: 5px 0 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
  }
}
