@import "./../../styles/mixins";
@import "./../../styles/variables";
.ReservationModal {
  @include flex_setting(row, center, center);
  top: 0;
  position: fixed;
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.647);

  .overlay {
    @include flex_setting(row, center, center);
    top: 0;
    position: fixed;
    cursor: pointer;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.647);
  }

  .wrapper {
    @include flex_setting(row, center, center);
    z-index: 1;
    height: 400px;
    width: 300px;
    background-color: aliceblue;
    background-image: url("https://images.unsplash.com/photo-1540224769541-7e6e20a42330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80");
    box-shadow: 2px 2px 4px rgb(19, 18, 18);
    border-radius: 8px;
    .form {
      @include flex_setting(column, flex-start, flex-start, 20px);
      flex-direction: column;
      gap: 20px;
      input {
        box-shadow: 2px 2px 4px rgb(49, 49, 49);
        border: none;
        cursor: pointer;
        outline: none;
        padding: 10px 20px;
        width: 200px;
        border-radius: 6px;
      }
      .submitBtn {
        width: 100px;
        margin: 0 auto;
        font-weight: bold;
        &:hover {
          box-shadow: inset 1px 1px 2px rgb(14, 13, 13);
        }
      }
    }
  }
}

.showModal {
  animation-name: openModal;
  animation-direction: alternate;
  transition: all 0.55s linear;
  animation-duration: 1s;
}

.hideModal {
  z-index: -2;
  opacity: 0 !important;
  animation-name: openModal;
  animation-direction: reverse;
  transition: all 0.55s linear;
  animation-duration: 6s;
  -webkit-animation-delay: 15s;
  animation-delay: 4s;
}

@keyframes openModal {
  0% {
    z-index: -1;
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .ReservationModal {
    .wrapper {
      height: 500px;
      width: 400px;
      .form {
        gap: 35px;
        input {
          width: 260px;
        }
      }
    }
  }
}
