.Card {
  @include size(300px, 200px);
  box-shadow: 2px 0px 3px gray;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  .image {
    @include size(300px, 110px);

    img {
      @include size(100%);
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      object-fit: cover;
    }
  }
  .textWrapper {
    // display: flex;
    // flex-direction: column;
    padding: 10px;

    span::before {
      content: " #";
      font-weight: bold;
    }

    span:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
