$mainBGcolor: #031d2be6;
$textColor: white;
$shadowBlackAlpha: rgba(26, 3, 3, 0.686);
$heroTextColor: #2676a1e6;
$heroBGColor: #dbebf7f0;
$borderCardColor: rgb(237, 237, 243);
$minicardTextColor: #053853;
// #01263ae6;
// #01334ee6
$mainFont: "Macondo", cursive;

$boldText: bold;
