.Navbar {
  height: 100px;
  border: 2px solid pink;
  background-color: azure;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .Name:link,
  .Name:active,
  .Name:visited {
    color: black;
    text-decoration: none;
  }

  .listItem {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }

  .link:link,
  .link:active,
  .link:visited {
    color: black;
    text-decoration: none;
  }
}
