@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Rock+Salt&display=swap");
.Hero {
  height: 270px;
  background-color: #dbebf7f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  position: relative;
  .hero_text {
    width: 300px;
    color: #2676a1e6;
    text-shadow: 2px 1px 1px #01263ae6;
    text-align: center;
    font-size: 2.8rem;
    z-index: 3;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    filter: drop-shadow(13px 13px 1px rgba(26, 3, 3, 0.686));
  }
}
