@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Rock+Salt&display=swap");
@import "./../../styles/variables";
@import "./../../styles/mixins";
.Hero {
  height: 270px;
  background-color: $heroBGColor;
  @include flex_setting(row, space-between, center);
  overflow: hidden;

  .hero_text {
    color: $heroTextColor;
    text-shadow: 2px 1px 1px #01263ae6;
    text-align: center;
    font-size: 2rem;
  }
  img {
    width: 250px;
    filter: drop-shadow(13px 13px 1px $shadowBlackAlpha);
  }
}
